# OpenAI driver: 'openai' or 'azure-openai'
OPENAI_DRIVER=""

# Azure config: Required for Azure OpenAI driver
AZURE_OPENAI_ENDPOINT=""
AZURE_OPENAI_API_KEY=""

OPENAI_ASSISTANT_ID=""

# OpenAI config: Required for 'openai' driver
OPENAI_API_KEY=""

# Google search credentials
GOOGLE_SEARCH_API_KEY=""
GOOGLE_SEARCH_CX=""

# Allowed values: 'redis' (for standalone env setup), or 'sentinel' (for ha env setup)
REDIS_DRIVER="redis"

# Required if the REDIS_DRIVER is `redis`
REDIS_URL="redis://redis:6379/0"

# Required if the REDIS_DRIVER is `sentinel`
REDIS_SENTINEL_HOST=""

MONGO_URI="mongodb://mongo:27017/ai_assistant"